<?xml version="1.0" encoding="ISO-8859-1" ?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">

    <display-name>HelloWorld Application</display-name>
    <description>
        This is a simple web application with a source code organization
        based on the recommendations of the Application Developer's Guide.
    </description>


    <servlet>
        <servlet-name>MainServletIndex</servlet-name>
        <servlet-class>bardzimashvili.MainServletIndex</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainServletIndex</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>InputServlet</servlet-name>
        <servlet-class>bardzimashvili.InputServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InputServlet</servlet-name>
        <url-pattern>/InputServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AllListServlet</servlet-name>
        <servlet-class>bardzimashvili.AllListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AllListServlet</servlet-name>
        <url-pattern>/AllListServlet</url-pattern>
    </servlet-mapping>


    <!--<servlet>
        <servlet-name>allList</servlet-name>
        <jsp-file>allList.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>allList</servlet-name>
        <url-pattern>/allList.jsp</url-pattern>
    </servlet-mapping>-->


</web-app>